* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.bg_blue {
  background: #0d325a;
}

.bg_green {
  background: #7CBB02;
}

.bg_grey {
  background: #D3D3D3;
}

#site_header {
  height: 500px;
  width: 100%;
  color: white;
  position: relative;
}

#site_content {
  height: 1400px
}

#site_footer {
  height: 150px
}

.container {
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  line-height: 80px;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 14px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 5px
}

.logo, .menu_left, .menu_right {
  float: left;
  color: white
}

.logo {
  width: 15%;
  background-repeat: no-repeat;
}

.menu_left {
  width: 50%
}

.menu_right {
  width: 35%;
  text-align: right;
}

.btn {
  text-transform: uppercase;
  color: white;
  border-radius: 10%;
  margin: 0 20px;
  padding: 5px;
}

.login {
  background: #0d325a;
  width: 84px;
  height: 23px;
  border: 1px solid white;
}

.green {
  background-color: #7CBB02;
}

.banner {
  height: 420px;
  background-image: url(../img/banner_header.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.banner_text {
  font-weight: 500;
  position: absolute;
  margin-left: 40px;
  width: 26%;
  top: 50%;
}

.struttura {
  position: absolute;
  margin-left: 40px;
  top: 65%;
  width: 162px;
  height: 23px;
  background-color: #7CBB02;
  margin-top: 20px;
}

#subheader {
  padding: 40px 0;
  text-align: center;
}

#subheader p {
  color: grey
}

.first {
  width: 100%;
  border-bottom: 1px solid black
}

.row {
  float: left;
  width: 32%;
  text-align: center;
  padding: 4%
}

.profile, .computer, .doc {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  font-size: large;
  padding: 5px;
}

.hr_top_row {
  margin: 20px 40%;
  width: 20%;
}

.info_header {
  color: #7CBB02;
  width: 109%
}

.info_text {
  color: lightgrey;
}

.mountain {
  width: 100%;
  height: 650px;
  margin-top: 20px
}

.image-left {
  float: left;
  width: 60%;
}

.text-right {
  float: left;
  width: 37%;
}

.header_plan {
  font-size: 30.8px;
  margin-bottom: 20px;
  margin-top: 20px
}

.text_plan {
  margin-top: 20px
}

.link_plan {
  margin-top: 20px
}

.le, .ri {
  float: left;
}

.le {
  width: 50%
}

.ri {
  width: 50%;
  text-align: center;
}

.titolone {
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}
